.Searchbar {  
    display: flex;
    gap: 20px;
    justify-content: center;
}
.Searchbar input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}
.Searchbar button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #6134eb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filters {
  display: flex;
  gap: 50px;   
  justify-content: center;
}


