#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.header {
  background-image: url('https://t3.ftcdn.net/jpg/01/77/76/00/360_F_177760086_h8GOXKNavzNKmfAH6OLvHOXDnpMtJbOr.jpg');
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.BusinessList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}